SECRET_KEY= секретный ключ django
DEBUG= режим работы сервера

подключение к базе данных

NAME=
USER=
PASSWORD=
HOST=
PORT=

REDIS_LOCATION=адрес подключения к серверу Redis

EMAIL_HOST_USER=почтовый аккаунт
EMAIL_HOST_PASSWORD=пароль к почтовому аккаунту

API_KEY_STRIPE=